body {
  font-family: Verdana;
  font-size: 1.5em; }

#team-members {
  clear: both; }

#team-members .member {
  float: left;
  margin: 10px;
  padding: 6px; }
  #team-members .member:hover {
    color: yellow; }

#team-members .member img {
  width: 200px;
  height: 200px; }

#team-members .member div.name {
  text-align: center; }

body h1 {
  color: red; }

.member {
  background-color: blue;
  display: inline-block;
  position: relative;
  float: left;
  left: 10px;
  height: 220px;
  width: 214px;
  border: 2px solid black;
  border-radius: 5px; }
  .member:hover .original {
    opacity: 0; }
  .member:hover .alternate {
    opacity: 1; }
  .member .alternate {
    opacity: 0; }
  .member img {
    height: 200px;
    width: 200px;
    position: absolute;
    -webkit-transition: opacity 1s; }
  .member h2 {
    opacity: 0;
    position: absolute;
    top: 150px;
    z-index: 1;
    width: 240px;
    background-color: red;
    -webkit-transition: opacity 1s; }
